@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500;800&display=swap");
@import "variables.scss";

body {
  margin: 1rem;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  color: $light;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: $primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
