@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500;800&display=swap");
@import "variables.scss";

body {
  margin: 1rem;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  color: $light;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: $primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* CSS */
.button-59 {
  align-items: center;
  background-color: $primary;
  border: 2px solid $primary;
  box-sizing: border-box;
  color: $light;
  cursor: pointer;
  display: inline-flex;
  fill: $light;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:hover {
  background-color: $tertiary;
  border: 2px solid $tertiary;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}